[General]
ported_to_new_savepath_system=true

[Preferences]
General\Locale=en_GB
WebUI\Enabled=true
Downloads\SavePath="{{mount_point}}"
Downloads\TempPathEnabled=true
Downloads\TempPath="{{mount_point}}"
Downloads\ScanDirs=@Invalid()
Downloads\DownloadInScanDirs=@Invalid()
Downloads\TorrentExportDir=
MailNotification\enabled=false
MailNotification\email=
MailNotification\smtp_server=smtp.changeme.com
MailNotification\req_ssl=false
MailNotification\req_auth=false
MailNotification\username=
MailNotification\password=
Downloads\PreAllocation=false
Queueing\QueueingEnabled=true
Queueing\MaxActiveDownloads=8
Queueing\MaxActiveTorrents=10
Queueing\MaxActiveUploads=3
Queueing\IgnoreSlowTorrents=true
Downloads\UseIncompleteExtension=false
Connection\PortRangeMin=6888
Connection\UPnP=false
Connection\GlobalDLLimit=-1
Connection\GlobalUPLimit=-1
Bittorrent\MaxConnecs=500
Bittorrent\MaxConnecsPerTorrent=100
Bittorrent\MaxUploadsPerTorrent=4
Bittorrent\uTP=false
Bittorrent\uTP_rate_limited=false
Advanced\IncludeOverhead=false
Connection\GlobalDLLimitAlt=10
Connection\GlobalUPLimitAlt=10
Scheduler\Enabled=false
Bittorrent\DHT=true
Bittorrent\sameDHTPortAsBT=true
Bittorrent\DHTPort=6881
Bittorrent\PeX=true
Bittorrent\LSD=true
Bittorrent\Encryption=0
Advanced\AnonymousMode=false
Connection\ProxyType=2
Connection\Proxy\IP=
Connection\Proxy\Port=1080
Connection\ProxyPeerConnections=false
Connection\Proxy\Authentication=false
Connection\Proxy\Username=
Connection\Proxy\Password=
IPFilter\Enabled=false
IPFilter\File=
WebUI\Port=8080
WebUI\Username=admin
WebUI\LocalHostAuth=true
WebUI\HTTPS\Enabled=false
DynDNS\Enabled=false
DynDNS\Service=0
DynDNS\Username=
DynDNS\Password=
DynDNS\DomainName=changeme.dyndns.org

[LegalNotice]
Accepted=true

[AutoRun]
enabled=false
program=
